/* Global Stylings */
@import 'components/base';

/* Components */
@import 'components/nav';
@import 'components/body-small';
@import 'careers';

.title-wrap {
    background-color: $primary-color-6;
    padding: 48px 30px;
}
.title {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}


@media(max-width: 650px) {
    .title-wrap {
        padding: 36px 18px;
    }
    .title {
        h1 {
            font-size: 2em;
        }
    }
}

@media(max-width: 480px) {
    .title-wrap {
        padding: 30px 18px;
    }
    .title {
        h1 {
            text-align: center;
            font-size: 1.8em;
        }
    }
}

.button-nav {
    margin-top: 48px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    a {
        border-bottom: none;
        &:hover {
            border-bottom: none;
        }
    }
}

@media (max-width: 370px) {
    .button-nav {
        display: block;
        text-align: center;
        a {
            display: block;
        }
    }
}

.section-main {
    .section-content {
        padding: 18px 36px 48px 36px;
    }
}

@media (max-width: 500px) {
    .section-main {
        .section-content {
            padding: 12px 18px 24px 18px;
        }
    }
}