/* Global Stylings */
@import 'components/base';

/* Components */
@import 'components/nav';

.careers-section {
    .careers-section-content {
        .wrapper {
            max-width: 950px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-bottom: 80px;
            .text {
                p {
                    margin-bottom: 18px;
                }
                .sub {
                    color: $accent-color-blue;
                    margin-bottom: 8px;
                }
            }
            .image {
                border-radius: 2px;
                margin-bottom: -4px;
                img {
                    width: 450px;
                    height: auto;
                    border-radius: 2px;
                }
            }
        }
        .left-text {
            .text {
                margin-right: 24px;
            }
        }
        .right-text {
            flex-direction: row-reverse;
            .text {
                margin-left: 24px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .careers-section {
        .careers-section-content {
            .wrapper {
                .image {
                    img {
                        width: 350px;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .careers-section {
        .careers-section-content {
            .wrapper {
                .image {
                    img {
                        width: 300px;
                    }
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .careers-section {
        .careers-section-content {
            .wrapper {
                flex-direction: column-reverse;
                justify-content: center;
                margin-bottom: 48px;
                width: 100%;
                max-width: 500px;
                .image {
                    img {
                        width: 100%;
                        margin-bottom: 12px;
                    }
                }
            }
            .left-text {
                .text {
                    margin-right: 0;
                }
            }
            .right-text {
                .text {
                    margin-left: 0;
                }
            }
        }
    }
}

.careers-apply {
    background-color: $primary-color-6;
    .careers-apply-content {
        h1 {
            text-align: center;
            margin-bottom: 36px;
        }
        .wrapper {
            margin-bottom: 0;
            background-color: $white;
            border-radius: 2px;
            box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.15);
            .text {
                padding: 18px;
                .sub {
                    font-size: 1.15em;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .careers-apply {
        .careers-apply-content {
            .wrapper {
                background-color: transparent;
                box-shadow: none;
            }
        }
    }
}

@media (max-width: 750px) {
    .careers-apply {
        .careers-apply-content {
            .wrapper {
                background-color: $white;
                box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.15);
                .image {
                    border-radius: 2px 2px 0 0;
                    img {
                        margin-bottom: 0;
                        border-radius: 2px 2px 0 0;
                    }
                }
            }
        }
    }
}