.content-area {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    h4 {
        font-size: 2em;
        margin: 18px 0;
    }
    h5 {
        font-size: 1.35em;
        margin: 12px 0;
    }
    p {
        font-size: 0.95em;
        margin: 8px 0 18px 0;
        line-height: 150%;
    }
    b {
        color: $primary-color-1;
        line-height: 150%;
    }
    i {
        color: $primary-color-1;
        line-height: 150%;
    }
    u {
        color: $primary-color-1;
        line-height: 150%;
    }
    strike {
        color: $primary-color-1;
        line-height: 150%;
    }
    a {
        color: $accent-color-blue;
        border-bottom: solid $accent-color-blue 1px;
        line-height: 150%;
    }
    a:hover {
        color: $accent-color-blue-highlight;
        border-bottom: solid $accent-color-blue-highlight 1px;
    }
    ul {
        line-height: 190%;
        margin: 0;
    }
    li {
        font-size: 0.95em;
        line-height: 150%;
        color: $primary-color-1;
        margin: 0;
    }
    ol {
        line-height: 190%;
        margin: 0;
    }
    blockquote {
        font-size: 0.95em;
        color: $primary-color-1;
        margin: 0;
        line-height: 150%;
        margin-left: 20px;
        padding-left: 14px;
        border-left: solid $accent-color-blue 2px;
        font-style: italic;
    }
    img {
        width: 100%;
        height: auto;
        margin-top: 12px;
        margin-bottom: 12px;
        border-radius: 2px;
    }
}

@media (max-width: 600px) {
    .content-area {
        h4 {
            font-size: 1.75em;
        }
        h5 {
            font-size: 1.25em;
        }
    }
}